{% extends "base.jinja2" %}

{% block header %}Where to put the computation?{% endblock %}

{% block content %}
    <p>
        Described in <a href="#">my blog post</a>, this is an exploration of where computation can end up in web
        applications. The example task is to display the first 100 prime numbers. This can be done by:
    </p>
    <ul>
        <li><a href="{{ 'precomputed'|route_url() }}">Precomputing the answer</a></li>
        <li><a href="{{ 'serverside'|route_url() }}">Computing primes on the server-side</a></li>
        <li><a href="{{ 'clientside'|route_url() }}">Computing primes on the client-side</a></li>
        <li><a href="{{ 'server-and-clientside'|route_url() }}">Computing primes on both the client and server-side</a></li>
        <li><a href="{{ 'database-layer'|route_url() }}">Computing primes in the database layer</a></li>
    </ul>
{% endblock %}