{% extends "base.jinja2" %}

{% block header %}Where to put the computation?{% endblock %}

{% block content %}
    <p>
        Described in <a href="http://thatmattbone.com/where-is-the-computation.html">my
        blog post</a>, this is an exploration of the many layers and
        technologies that can be used in a web application to perform
        the same task. The example task is displaying the first 100
        prime numbers using the <a
        href="http://en.wikipedia.org/wiki/Sieve_of_Eratosthenes">sieve
        of Eratosthenes</a>. This can be done with:
    </p>
    <ul>
        <li><a href="{{ 'precomputed'|route_url() }}">Precomputed primes</a></li>
        <li><a href="{{ 'clientside'|route_url() }}">Primes computed on the client-side</a></li>        
        <li><a href="{{ 'serverside'|route_url() }}">Primes computed on the server-side</a></li>
        <li><a href="{{ 'server-and-clientside'|route_url() }}">Primes computed on the client and server-side</a></li>
        <li><a href="{{ 'database-layer'|route_url() }}">Primes computed in Postgres</a></li>
        <li><a href="{{ 'redis-script'|route_url() }}">Primes computed with a Redis script</a></li>
        <li><a href="{{ 'redis-compiled'|route_url() }}">Primes computed with a custom Redis command</a></li>
    </ul>
{% endblock %}